body{
    background-image: url(../img/img2.jpg);
    
}
.container {
    display:inline-flexbox;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 4%;
    
}
.boton{
    float: right;
}
