{% extends 'caosnews/base.html' %}

{% load static %}

{% block contenido %}
<head>
    <link rel="stylesheet" href="{% static 'caosnews/CSS/Estilosmvision.css' %}">
</head>

<section id="textos">
    <div class="mis">
        <h4>Nuestra mision en Caos News:</h4>
        <p>Es informar con rigor y profundidad sobre los temas más 
            relevantes de la actualidad, siempre con el objetivo de servir a la sociedad y contribuir a un mundo más informado y consciente. Entregando información veraz, oportuna y relevante
             a nuestros lectores, oyentes y espectadores,a través de la utilización técnicas periodísticas avanzadas y la aplicación de los más altos estándares éticos.</p>
    </div>
    <div class="vis">
        <h4>Nuestra vision en Caos News:</h4> 
        <p>Es ser líderes en el mercado de medios de comunicación, reconocidos por nuestro compromiso con la excelencia periodística y la integridad, 
            y por nuestra capacidad para satisfacer las necesidades informativas de nuestra audiencia en un mundo en constante cambio.</p>
    </div>
    <div class="obj">
        <h4>Los objetivos de Caos News:</h4> 
        <p>
            Caos News tiene como objetivo ofrecer una plataforma para la discusión y el debate de temas importantes para la sociedad. Para ello,
            se pueden publicar artículos de opinión, organizar debates públicos y crear comunidades en línea que fomenten el intercambio de ideas. Asimismo, 
            en Caos News valoramos la opinión y el feedback de nuestro público, por lo que otro de nuestros objetivos es generar interacción y diálogo con nuestra audiencia, 
            a través de redes sociales, encuestas y otros medios que nos permitan estar en contacto directo con ellos.</p>
    </div>
</section>
{% endblock %}