
/*Cajas de imagenes*/

#gale{
    background-color: #e8e8e4;
    justify-content: center;
    text-align: center;
}

.gal1{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.gal2{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.galeria1{
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 black;
    float: left;
    width: 300px;
}

.galeria1 img{
    width: 100%;
    height: 200px;
}

.galeria1 p{
    margin-top: 10px;
}

.galeria2{
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 black;
    float: left;
    width: 300px;
}

.galeria2 img{
    width: 100%;
    height: 200px;
}

.galeria2 p{
    margin-top: 10px;
}


/*RESPONSIVE*/
@media(max-width:799px){
    .gal1{
        flex-wrap: wrap;
    }

    .galeria1{
        width: 250px;
    }

    .gal2{
        flex-wrap: wrap;
    }

    .galeria2{
        width: 250px;
    }
}

@media(max-width:1150px){
    .gal1{
        flex-wrap: wrap;
    }

    .galeria1{
        width: 360px;
    }

    .gal2{
        flex-wrap: wrap;
    }

    .galeria2{
        width:360px;
    }
}
