{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'css/principal.css '%}">
<div class="carrusel">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'img/img2.jpg' %}" class="d-block w-100" alt="100px">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img/img1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img/img3.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<section id="parrafos">
    <div>
        <img src="{% static 'img/img3.jpg' %}" alt="">
        <p>La electrónica automotriz son sistemas electrónicos que se utilizan en los vehículos, incluida la gestión del motor, el encendido, la radio,
            la telemática, los sistemas de entretenimiento en el automóvil y otros. La electrónica de encendido, motor y transmisión también se 
            encuentra en camiones, motocicletas,  vehículos todoterreno y otras maquinarias de combustión interna, como montacargas, tractores y 
            excavadoras. Los elementos relacionados para el control  de sistemas eléctricos relevantes también se encuentran en vehículos híbridos  y coches eléctricos.</p>
        </p>
    </div>
    <div>
        <img src="{% static 'img/img1.jpg' %}" alt="">
        <p>
            La suspensión es el sistema que conecta el chasis del vehículo con las ruedas. Este sistema es el responsable de brindarte viajes en auto suaves 
             y estables, pues se encarga de absorber (lo más posible) las irregularidades del camino. Existen dos tipos de suspensión: las rígidas (o dependientes) 
             y las independientes. En esta nota te contamos sus diferencias, ventajas y desventajas, así como cuáles son los dos tipos de suspensión independiente más usadas. 
              
        </p>
           
        </p>
    </div>
</section>
{% endblock %}