{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/producto.css '%}">
<div class="container">
    <h1>Producto</h1>
    <table id="customers" border="1">
        <thead>
            
            <th>Nombre</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Producto</th>
            <th colspan="2" id="mid">Accion</th>
        </thead>
        {% for x in pro %}
        <tr>
            
            <td>{{x.nombre}}</td>
            <td>{{x.stock}}</td>
            <td>{{x.precio}}</td>
            <td><img src="{{ x.foto.url }}"  width="100px"></td>

            <td>
                <a href="actualizar/{{x.id}}"><button id="up">Actualizar</button></a>
            </td>
            <td>
                <a href="eliminar/{{x.id}}"><button id="del">Eliminar</button></a>
            </td>
            {% endfor %}
        </tr>
        
    </table>
    <br><br>
    <a href="{% url 'agregar' %}"><button id="new3">Agregar Producto</button></a>
    
</div>

<div class="container">
    <h1>Catalogo</h1>
    <table id="customers" border="1">
        <thead>
            
            <th>Fecha</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Catalogo</th>
            <th colspan="2" id="mid">Accion</th>
        </thead>
        {% for x in cat %}
        <tr>
            
            <td>{{x.mes}}</td>
            <td>{{x.stock}}</td>
            <td>{{x.precio}}</td>
            <td><img src="{{ x.foto.url }}"  width="100px"></td>

            <td>
                <a href="actualizar2/{{x.id}}"><button id="up">Actualizar</button></a>
            </td>
            <td>
                <a href="eliminar2/{{x.id}}"><button id="del">Eliminar</button></a>
            </td>
            {% endfor %}
        </tr>
        
    </table>
    <br><br>
    <a href="{% url 'agregar2' %}"><button id="new3">Agregar Catalogo</button></a>
</div>




{% endblock %}
